/* Estilos comunes para ambos temas */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(87, 83, 83, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 100%;
}

h1 {
  text-align: center;
}

nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  justify-items: center;
  margin: 0 auto;
  width: 80vw;
}

a {
  color: #000;
  cursor: pointer;
  margin: 5px;
 
  text-decoration: none;
}

a:hover {
  color: rgb(136, 136, 136);
}

footer {
  /* bottom: 10px; */
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 1%;
  /* margin-top: 2rem; */
  /* padding: 2rem; */
  position: relative;
  text-align: center;
 /*  width: 90%; */
  width: 80vw;
}

footer > img {
  margin: 0;
  width: 200px;
}

footer > p {
  margin: 0;
  /* padding-top: 0.7rem; */
}

form {
  display: flex;
  flex-direction: column;
  height: 140px;
  justify-content: space-around;
  margin: 0 auto;
  width: 390px;
}

.card {
  align-items: center;
  border: 0.5px solid rgb(136, 136, 136);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0.5rem 0 0.5rem; 
  width: 200px;
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: auto;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80vw;
}

main{
  margin: 0 auto;
  width: 80vw;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Estilos específicos para el tema oscuro */
.light {
  background-color: #fff;
  color: #000;
}

.dark {
  background-color: #12121296;
  color: white;

  
}

.dark a {
  color: white;
}


/* nuestros css */

.navbar-container{
  align-items: center ;
  display: flex;
} 

img{
  max-height: 50px;
  max-width: 100%
}

#miboton {
  border: none;
  cursor: pointer;
  font-size: 25px;
  
}

#contacto{
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  width: 80vw;

}

.form-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-group label {
  flex-basis: 40%; /* Ajusta el ancho del label según tu preferencia */
  margin-right: 10px; /* Espacio entre el label y el input */
  text-align: right;
}

.form-group input {
  flex-basis: 60%; /* Ajusta el ancho del input según tu preferencia */
}

#h1home{
  margin-top: 0px;
}

.card-image {
  
  border-radius: 8px; /* Añade bordes redondeados a la imagen */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
  max-height: calc(100% - 40px);  /* Ocupa el 100% del alto menos el espacio de los datos */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
  width: 100%; /* Ocupa el 100% del ancho dentro de la tarjeta */
}

.card-image img {
  flex-grow: 3;
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
  width: 100%; /* Ajusta el ancho de la imagen al 100% */
}

/* Estilo para los datos en la tarjeta */
.card-data {
  
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Permite que la parte de abajo ocupe el espacio restante */
  justify-content: space-between;
  margin-top: 10px; /* Espacio entre la imagen y los datos */
  text-align: center;
  width: 100%; /* Ocupa el 100% del ancho dentro de la tarjeta */
}

/* Estilos para el Navbar */
.navbar-container {
  align-items: center; /* Alinea verticalmente los elementos */
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Cambia a space-between para separar el título del Navbar */
  padding: 1rem;
  width: 80vw;
}

.navbar-left {
  font-size: 1.5rem;
  /* Estilos para el título en el lado izquierdo */
  font-weight: bold;
}
.navbar-right {
  align-items: center;
  display: flex;
}

.detail{
  margin: 0 auto;
  padding: 0 60px;
  width: 80vw;
}

#fav-container, #detail-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: auto;
  justify-content: space-evenly;
  margin: 0 auto;
  width: 80vw;

}

